Practica_1/docker/Reporte/Apache\ Docker.aux
Practica_1/docker/Reporte/Apache\ Docker.dvi
Practica_1/docker/Reporte/Apache\ Docker.log
Practica_1/docker/Reporte/Apache\ Docker.out
Practica_1/docker/Reporte/Apache\ Docker.synctex.gz
Practica_2/docker/Reporte/Reporte\ XMPP\ docker.aux
Practica_2/docker/Reporte/Reporte\ XMPP\ docker.log
Practica_2/docker/Reporte/Reporte\ XMPP\ docker.out
Practica_2/docker/Reporte/Reporte\ XMPP\ docker.synctex.gz
Practica_3/docker/proftp/ftpdirectory/